/*************** COLORS **************/
/*************** Fonts **************/
@font-face {
  font-family: "Exo-Black";
  src: url("../assets/fonts/Exo/static/Exo-Black.ttf") format("truetype"); }
@font-face {
  font-family: "Exo-Bold";
  src: url("../assets/fonts/Exo/static/Exo-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Exo-Medium";
  src: url("../assets/fonts/Exo/static/Exo-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "Exo-Regular";
  src: url("../assets/fonts/Exo/static/Exo-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Exo-SemiBold";
  src: url("../assets/fonts/Exo/static/Exo-SemiBold.ttf") format("truetype"); }
.font-exo-black {
  font-family: "Exo-Black", sans-serif; }

.font-exo-bold {
  font-family: "Exo-Bold", sans-serif; }

.font-exo-medium {
  font-family: "Exo-Medium", sans-serif; }

.font-exo-regular {
  font-family: "Exo-Regular", sans-serif; }

.font-exo-semibold {
  font-family: "Exo-SemiBold", sans-serif; }

/*************************************/
@font-face {
  font-family: "Exo2-Black";
  src: url("../assets/fonts/Exo_2/static/Exo2-Black.ttf") format("truetype"); }
@font-face {
  font-family: "Exo2-Bold";
  src: url("../assets/fonts/Exo_2/static/Exo2-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Exo2-Medium";
  src: url("../assets/fonts/Exo_2/static/Exo2-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "Exo2-Regular";
  src: url("../assets/fonts/Exo_2/static/Exo2-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Exo2-SemiBold";
  src: url("../assets/fonts/Exo_2/static/Exo2-SemiBold.ttf") format("truetype"); }
.font-exo2-black {
  font-family: "Exo2-Black", sans-serif; }

.font-exo2-bold {
  font-family: "Exo2-Bold", sans-serif; }

.font-exo2-medium {
  font-family: "Exo2-Medium", sans-serif; }

.font-exo2-regular {
  font-family: "Exo2-Regular", sans-serif; }

.font-exo2-semibold {
  font-family: "Exo2-SemiBold", sans-serif; }

/**************** Icons ***************/
.icon {
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  background-color: #bbbbbb;
  width: 10px;
  height: 10px;
  mask-image: url("../assets/icons/main-page/link.svg");
  -webkit-mask-image: url("../assets/icons/main-page/link.svg"); }

.icon-search {
  width: 24px;
  height: 22px;
  background-color: #666666;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-image: url("../assets/icons/main-page/search.svg");
  -webkit-mask-image: url("../assets/icons/main-page/search.svg"); }

.icon-facebook {
  width: 10.4px;
  height: 20px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  background-color: #a8a8a8;
  mask-image: url("../assets/icons/main-page-contacts/facebook.svg");
  -webkit-mask-image: url("../assets/icons/main-page-contacts/facebook.svg"); }

.icon-telegram {
  width: 20px;
  height: 18.5px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  background-color: #a8a8a8;
  mask-image: url("../assets/icons/main-page-contacts/telegram.svg");
  -webkit-mask-image: url("../assets/icons/main-page-contacts/telegram.svg"); }

.icon-instagram {
  width: 20px;
  height: 20px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  background-color: #a8a8a8;
  mask-image: url("../assets/icons/main-page-contacts/instagram.svg");
  -webkit-mask-image: url("../assets/icons/main-page-contacts/instagram.svg"); }

html {
  font-size: 16px; }
  html body {
    overflow-x: hidden;
    width: 100%; }
    html body .navigation-bar {
      top: 0;
      width: 100%;
      padding: 0 15px;
      background-color: transparent;
      position: absolute;
      z-index: 2; }
      html body .navigation-bar .top-nav-right {
        padding-top: 14px;
        padding-bottom: 14px;
        width: 100%;
        color: #666666; }
        html body .navigation-bar .top-nav-right .input-group {
          margin-left: 35px;
          width: auto;
          border-bottom: 1px solid #666666; }
          html body .navigation-bar .top-nav-right .input-group input {
            background-color: transparent;
            outline: none;
            border: none;
            color: #666666;
            transition: all 0.2s linear; }
        html body .navigation-bar .top-nav-right .btn {
          color: #666666;
          border: 1px solid #666666;
          padding: 15px 30px;
          margin-left: 40px;
          margin-right: 20px; }
          html body .navigation-bar .top-nav-right .btn:focus {
            box-shadow: 0 0 0 0.2rem rgba(102, 102, 102, 0.25); }
      html body .navigation-bar .top-nav-left {
        padding-top: 14px;
        padding-bottom: 14px; }
        html body .navigation-bar .top-nav-left .logo {
          width: 54%; }
          html body .navigation-bar .top-nav-left .logo h1 {
            color: #0A7F2E;
            font-size: 17px; }
          html body .navigation-bar .top-nav-left .logo p {
            font-size: 6px;
            color: #0A7F2E; }
        html body .navigation-bar .top-nav-left button {
          position: relative; }
          html body .navigation-bar .top-nav-left button:focus {
            box-shadow: 0 0 0 0.2rem rgba(10, 127, 46, 0.45); }
        html body .navigation-bar .top-nav-left .navbar-menu {
          position: absolute;
          top: 64px;
          left: 50px;
          background-color: white;
          box-shadow: 0 0 30px rgba(9, 103, 38, 0.2); }
          html body .navigation-bar .top-nav-left .navbar-menu li {
            padding: 0; }
            html body .navigation-bar .top-nav-left .navbar-menu li .nav-link {
              padding: 0;
              margin: 2px 6px 10px 6px;
              font-size: 14px;
              color: #201F1E;
              border-bottom: 1px solid transparent; }
              html body .navigation-bar .top-nav-left .navbar-menu li .nav-link:hover {
                border-bottom: 1px solid black; }
          html body .navigation-bar .top-nav-left .navbar-menu::after {
            content: "";
            width: 100%;
            height: 3px;
            background-color: #0A7F2E;
            position: absolute;
            top: 0; }
        html body .navigation-bar .top-nav-left a > img {
          margin-right: 20px; }
    html body main {
      margin-top: 13%; }
      html body main > .nav {
        position: fixed;
        z-index: 6;
        top: 15%;
        left: 0; }
        html body main > .nav .nav-item {
          margin-top: 20px; }
          html body main > .nav .nav-item .nav-link.active .icon {
            background-color: #0A7F2E; }
      html body main .container .left-side .contact {
        position: relative; }
        html body main .container .left-side .contact h1 {
          font-size: 24px;
          margin-left: 30px;
          color: #0A7F2E; }
        html body main .container .left-side .contact .grey-line {
          position: absolute;
          background-color: #bbbbbb;
          width: 3px;
          height: 32px;
          left: 16px;
          top: -13px; }
        html body main .container .left-side .contact .green-line {
          position: absolute;
          background-color: #0A7F2E;
          width: 3px;
          height: 32px;
          left: 8px;
          top: 0; }
      html body main .container .left-side .row {
        margin-top: 50px; }
        html body main .container .left-side .row label {
          color: #828282; }
        html body main .container .left-side .row .form-control {
          height: 50px; }
          html body main .container .left-side .row .form-control:focus {
            box-shadow: 0 0 0 0.05rem rgba(0, 123, 255, 0.25); }
        html body main .container .left-side .row .col-12 {
          margin-top: 30px; }
          html body main .container .left-side .row .col-12 textarea {
            height: 200px; }
        html body main .container .left-side .row .col-md-6 {
          margin-top: 30px; }
      html body main .container .left-side .btn {
        margin-top: 30px;
        border-radius: 0; }
      html body main .container .right-side {
        margin-left: 35px; }
        html body main .container .right-side .information {
          padding: 15px;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); }
          html body main .container .right-side .information .row .col-sm-6 h2 {
            margin-top: 30px;
            font-size: 16px;
            color: #0A7F2E; }
          html body main .container .right-side .information .row .col-sm-6 p {
            margin-top: 14px;
            font-size: 14px;
            color: #828282; }
          html body main .container .right-side .information .bottom-part {
            margin-top: 40px; }
            html body main .container .right-side .information .bottom-part .social-net .f-book {
              border-radius: 50%;
              background-color: #b3b7bb; }
            html body main .container .right-side .information .bottom-part .social-net a span {
              margin-right: 20px;
              transition: all 0.2s linear; }
            html body main .container .right-side .information .bottom-part .social-net a:nth-child(1) span:hover {
              transform: scale(1.3);
              background-color: #3B5998; }
            html body main .container .right-side .information .bottom-part .social-net a:nth-child(2) span:hover {
              transform: scale(1.3);
              background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); }
            html body main .container .right-side .information .bottom-part .social-net a:nth-child(3) span:hover {
              transform: scale(1.3);
              background-color: #039BE5; }
            html body main .container .right-side .information .bottom-part .w-days span {
              width: 35px;
              height: 35px;
              border-radius: 0;
              margin-left: 10px;
              font-size: 12px;
              display: flex;
              color: white;
              font-weight: bolder;
              justify-content: center;
              align-items: center; }
            html body main .container .right-side .information .bottom-part .w-days .green {
              background-color: #0A7F2E;
              box-shadow: 0 4px 4px rgba(10, 127, 46, 0.25); }
            html body main .container .right-side .information .bottom-part .w-days .grey {
              background-color: #a8a8a8;
              box-shadow: 0px 4px 4px rgba(121, 121, 121, 0.25); }
        html body main .container .right-side .map {
          margin-top: 40px;
          margin-bottom: 40px; }
          html body main .container .right-side .map iframe {
            width: 100%;
            height: 300px; }
      html body main > h3 {
        position: absolute;
        left: -6%;
        bottom: -5%;
        font-size: 50px;
        z-index: 5;
        transform: rotate(-90deg);
        color: #dddddd; }

/*# sourceMappingURL=contact.css.map */
