/*************** COLORS **************/
/*************** Fonts **************/
@font-face {
  font-family: "Exo-Black";
  src: url("../assets/fonts/Exo/static/Exo-Black.ttf") format("truetype"); }
@font-face {
  font-family: "Exo-Bold";
  src: url("../assets/fonts/Exo/static/Exo-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Exo-Medium";
  src: url("../assets/fonts/Exo/static/Exo-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "Exo-Regular";
  src: url("../assets/fonts/Exo/static/Exo-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Exo-SemiBold";
  src: url("../assets/fonts/Exo/static/Exo-SemiBold.ttf") format("truetype"); }
.font-exo-black {
  font-family: "Exo-Black", sans-serif; }

.font-exo-bold {
  font-family: "Exo-Bold", sans-serif; }

.font-exo-medium {
  font-family: "Exo-Medium", sans-serif; }

.font-exo-regular {
  font-family: "Exo-Regular", sans-serif; }

.font-exo-semibold {
  font-family: "Exo-SemiBold", sans-serif; }

/*************************************/
@font-face {
  font-family: "Exo2-Black";
  src: url("../assets/fonts/Exo_2/static/Exo2-Black.ttf") format("truetype"); }
@font-face {
  font-family: "Exo2-Bold";
  src: url("../assets/fonts/Exo_2/static/Exo2-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Exo2-Medium";
  src: url("../assets/fonts/Exo_2/static/Exo2-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "Exo2-Regular";
  src: url("../assets/fonts/Exo_2/static/Exo2-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Exo2-SemiBold";
  src: url("../assets/fonts/Exo_2/static/Exo2-SemiBold.ttf") format("truetype"); }
.font-exo2-black {
  font-family: "Exo2-Black", sans-serif; }

.font-exo2-bold {
  font-family: "Exo2-Bold", sans-serif; }

.font-exo2-medium {
  font-family: "Exo2-Medium", sans-serif; }

.font-exo2-regular {
  font-family: "Exo2-Regular", sans-serif; }

.font-exo2-semibold {
  font-family: "Exo2-SemiBold", sans-serif; }

/*****************  Icons  ***********************/
.icon {
  width: 10px;
  height: 10px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  background-color: #CCCCCC;
  mask-image: url("../assets/icons/main-page/link.svg");
  -webkit-mask-image: url("../assets/icons/main-page/link.svg"); }

html {
  font-size: 16px; }
  html body {
    width: 100%;
    overflow-x: hidden;
    margin: 0; }
    html body .top {
      position: relative; }
      html body .top .navigation-bar {
        width: 100%;
        padding: 0 15px;
        background-color: transparent;
        position: absolute;
        z-index: 2; }
        html body .top .navigation-bar .top-nav-right {
          padding-top: 14px;
          padding-bottom: 14px;
          width: 100%;
          color: white; }
          html body .top .navigation-bar .top-nav-right .input-group {
            margin-left: 35px;
            width: auto; }
            html body .top .navigation-bar .top-nav-right .input-group input {
              right: 0;
              background-color: transparent;
              outline: none;
              border-bottom: 1px solid white;
              border-top: none;
              border-left: none;
              border-right: none;
              color: white;
              transition: all 0.2s linear; }
          html body .top .navigation-bar .top-nav-right .btn {
            color: white;
            border: 1px solid white;
            padding: 15px 30px;
            margin-left: 40px;
            margin-right: 20px; }
            html body .top .navigation-bar .top-nav-right .btn:focus {
              box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25); }
        html body .top .navigation-bar .top-nav-left {
          padding-top: 14px;
          padding-bottom: 14px; }
          html body .top .navigation-bar .top-nav-left .logo {
            width: 54%; }
            html body .top .navigation-bar .top-nav-left .logo h1 {
              color: #0A7F2E;
              font-size: 17px; }
            html body .top .navigation-bar .top-nav-left .logo p {
              font-size: 6px;
              color: #0A7F2E; }
          html body .top .navigation-bar .top-nav-left button {
            position: relative; }
            html body .top .navigation-bar .top-nav-left button:focus {
              box-shadow: 0 0 0 0.2rem rgba(10, 127, 46, 0.45); }
          html body .top .navigation-bar .top-nav-left .navbar-menu {
            position: absolute;
            top: 64px;
            left: 50px;
            background-color: white;
            box-shadow: 0 0 30px rgba(9, 103, 38, 0.2); }
            html body .top .navigation-bar .top-nav-left .navbar-menu li {
              padding: 0; }
              html body .top .navigation-bar .top-nav-left .navbar-menu li .nav-link {
                padding: 0;
                margin: 2px 6px 10px 6px;
                font-size: 14px;
                color: #201F1E; }
                html body .top .navigation-bar .top-nav-left .navbar-menu li .nav-link:hover {
                  border-bottom: 1px solid black; }
            html body .top .navigation-bar .top-nav-left .navbar-menu::after {
              content: "";
              width: 100%;
              height: 3px;
              background-color: #0A7F2E;
              position: absolute;
              top: 0; }
          html body .top .navigation-bar .top-nav-left a > img {
            margin-right: 20px; }
      html body .top .top-left {
        position: relative; }
        html body .top .top-left .container {
          padding-right: 50px;
          padding-left: 70px; }
          html body .top .top-left .container .nav {
            position: fixed;
            z-index: 2;
            top: 16%;
            left: 0; }
            html body .top .top-left .container .nav .nav-item .nav-link {
              margin-top: 18px; }
              html body .top .top-left .container .nav .nav-item .nav-link.active .icon {
                background-color: #0A7F2E; }
          html body .top .top-left .container .tab-content .tab-pane1 section {
            margin-bottom: 30px; }
            html body .top .top-left .container .tab-content .tab-pane1 section h2 {
              margin-top: 150px;
              font-size: 42px;
              line-height: 58px; }
            html body .top .top-left .container .tab-content .tab-pane1 section p {
              margin-top: 40px;
              font-size: 20px;
              line-height: 163%; }
            html body .top .top-left .container .tab-content .tab-pane1 section .input-group {
              margin-top: 60px; }
              html body .top .top-left .container .tab-content .tab-pane1 section .input-group input {
                padding: 26px 15px;
                box-shadow: 0 0 30px rgba(9, 103, 38, 0.1); }
              html body .top .top-left .container .tab-content .tab-pane1 section .input-group .btn {
                font-size: 12px; }
            html body .top .top-left .container .tab-content .tab-pane1 section h5 {
              font-size: 15px;
              line-height: 20px;
              color: #8A8A8A;
              margin-top: 200px;
              margin-bottom: 30px; }
          html body .top .top-left .container h3 {
            position: absolute;
            left: -16%;
            bottom: 15%;
            font-size: 50px;
            transform: rotate(-90deg);
            color: #dddddd; }
      html body .top .top-right {
        background: linear-gradient(38.36deg, #0A7F2E 0%, #000000 181.17%); }
        html body .top .top-right .container {
          padding-right: 50px;
          padding-left: 50px; }
          html body .top .top-right .container .carousel {
            margin-bottom: 40px; }
            html body .top .top-right .container .carousel .carousel-indicators {
              bottom: -30px; }
              html body .top .top-right .container .carousel .carousel-indicators li {
                width: 10px;
                height: 10px;
                margin-right: 6px;
                margin-left: 6px; }
            html body .top .top-right .container .carousel .carousel-inner .carousel-item img {
              width: 80%;
              margin-top: 27%;
              display: block;
              margin-right: auto;
              margin-left: auto; }
            html body .top .top-right .container .carousel .carousel-inner .carousel-item a {
              border-bottom: 1px solid white;
              padding-bottom: 3px;
              font-size: 27px;
              line-height: 35px;
              color: white;
              display: inline-block;
              margin-left: 10%;
              margin-top: 54px; }
            html body .top .top-right .container .carousel .carousel-inner .carousel-item p {
              color: white;
              font-size: 15px;
              line-height: 20px;
              margin-top: 10px;
              margin-left: 10%;
              padding-bottom: 40px; }
             

/*# sourceMappingURL=main.css.map */
